.posts-most-viewed-box{
  padding-top: 10px;
  min-width: 763px;
}

.posts-most-viewed-box .inside {
    margin: 6px 0 0 0;
}

.posts-most-viewed-box h3,
.posts-most-viewed-box h2 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.posts-most-viewed-info{
  margin: 20px 0;
}

.posts-most-viewed-see-more {
  padding: 20px;
  overflow: hidden;
  margin-top: 35px;
  background-color: #eeeeee;
  display: none;
}

.posts-most-viewed-box  input[type="number"]{
   width: 200px;
}

.posts-most-viewed-box .form-field {
  margin-bottom: 30px;
}

.posts-most-viewed-box label {
  margin-bottom: 5px;
  display: block;
}

.status_msg.status-error .posts-most-viewed-info {
  color:#dc3232;
}

.posts-most-viewed-info-error {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.posts-most-viewed-provider{
  display: none;
}

.posts-most-viewed-provider.selected{
  display: block;
}